<h1>Nombre Chofer</h1>
<ul>
    <input type="button" onclick= "location.href='https://google.com';"> Crear nuevo Empleado</button>
    <li>    
        <div class="row"> Astrolog, Eduardo</div>
        
    </li>

</ul>