<h1>Nuevo empleado</h1>

<form action="/empleado" method="POST">

  <div class="mb-3">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Apellido</label>
    <input type="text" name="apellido" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>DNI</label>
    <input type="text" name="dni" class="form-control">
  </div>

  <div class="mb-3">
    <label>CUIT</label>
    <input type="text" name="cuit" class="form-control">
  </div>

  <button class="btn btn-success">Guardar</button>
  <a href="/empleado" class="btn btn-secondary">Cancelar</a>

</form>
